body{
    background-color: #e9eaea;
}

h1{
    color: #FF5B5C;
}

h1, h2, p, a{
    font-family: sans-serif;
}

a{
    background-color: #FF5B5C;
    padding: 10px;
    font-size: larger;
    color: white;
    border: 5px solid #FF5B5C;
    border-radius: 5px;
    line-height: 3;
}

p{
    color: #8F9696;
    word-spacing: -1px;
    line-height: 0.3;
}

span.grijs{
    color: #8F9696;
}